<!DOCTYPE html>
<html>

<head>
  <title>UdeSA Movies</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>UdeSA Movies</h1>
  <%- include('./partials/nav.ejs') %>
  <h2><%= genre.name %></h2>
  <p>Películas del género</p>
  <ul class="content">
  <% for(let i=0; i<genre.movies.length; i++){ %>
    <li><a href="/movies/id/<%= genre.movies[i].id %>">
        <%= genre.movies[i].title %>
      </a></li>
    <% } %>
  </ul>
</body>

</html>