<!DOCTYPE html>
<html>

<head>
  <title>UdeSA Movies</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>UdeSA Movies - Bienvenidos</h1>
  
  <%- include('./partials/nav.ejs') %>

</body>

</html>