<!DOCTYPE html>
<html>

<head>
  <title>UdeSA Movies</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>UdeSA Movies - Todas las películas</h1>
  <%- include('./partials/nav.ejs') %>
  <h2>Todas las películas</h2>
  <ul class="content">
    <% for(let i=0; i<movies.length; i++){ %>
      <li><a href="/movies/id/<%= movies[i].id %>">
          <%= movies[i].title %>
        </a></li>
      <% } %>
  </ul>
</body>

</html>