<nav>
    <ul class="access-menu">
        <li><a href="/">Login</a></li>
        <li><a href="/register">Registro</a></li>
    </ul>
</nav>
<nav>
    <ul class="main-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/movies">Peliculas</a></li>
        <li><a href="/">Géneros</a></li>
    </ul>
</nav>
<form action="/search-results" method="GET">
    <input type="text" name="buscar" id="" placeholder="Buscar...">
    <button type="submit">Buscar</button>
</form>